---
import DocsLayout from '../layouts/DocsLayout.astro';

const posts = await Astro.glob('./*.md')

console.log(posts)
---
<DocsLayout>
<div>Table of contents</div>

{
    posts.map((post) => (
        <div>{post.frontmatter.title}</div>
    ))
}


</DocsLayout>