---
import DocsLayout from "./DocsLayout.astro";
const {title} = Astro.props.frontmatter || Astro.props;

---

<DocsLayout>
    <div class="max-w-4xl mx-auto px-4">
        <article class="prose max-w-none prose-slate w-full mx-auto py-24">
            <h1 class="text-6xl">{title}</h1>
            <slot/>
        </article>
    </div>
</DocsLayout>