---
import SidebarNav from '../components/SidebarNav.jsx'

const pathName = Astro.url.pathname
// https://tailwindui.com/components/application-ui/navigation/sidebar-navigation
---

<div class="min-h-screen bg-slate-100">
    <SidebarNav client:load pathName={pathName}>
        <slot />
    </SidebarNav>
</div>
