---
import SidebarNav from '../components/SidebarNav.jsx'

const pathName = Astro.url.pathname
// https://tailwindui.com/components/application-ui/navigation/sidebar-navigation
---

<div class="max-h-screen">
    <SidebarNav client:load pathName={pathName}>
        <div class="bg-slate-100">
            <slot />
        </div>
    </SidebarNav>
    
</div>
